.container {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  flex: 0 0 180px;

  height: 200px;
  margin: 20px 20px 0 0;
  position: relative;
}

.overlay {
  background: #333333;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  font-family: Josefin Sans;
  height: 100%;
  padding: 8px 13px;
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.container:hover .overlay {
  visibility: visible;
}

.add_icon,
.selected_icon {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
