.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #c0cecc;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;

  background: #ddd;
  height: 100%;
  width: calc(100% - 400px);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;

  margin-bottom: 150px;
  height: 100%;
}
