.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #c0cecc;
  height: 100vh;
  width: 100%;
}

.logo {
  font-family: Pacifico;
  font-size: 50px;
  color: #6b96a5;
}

.container {
  background: #fff;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  margin-bottom: 200px;
  margin-top: 30px;
}

.form {
  padding: 18px 40px;
}

.formgroup {
  margin: 30px 0;
}

.textfield {
  width: 100%;
}

.submit {
  padding: 10px 14px !important;
  width: 100%;
}

.formerrgroup {
  color: #ca2f2f;
  margin: 0;
  font-family: Helvetica;
}

.register_footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 40px 10px 0;
  background: #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  align-content: center;
}

.register_link {
  color: steelblue;
  text-decoration: none;
}
